<!DOCTYPE html>
<html>
<head>
    <title>Edit Student</title>
</head>
<body>
    <h2>Edit Student Details</h2>
    <form action="/edit/{{ student[0] }}" method="POST" enctype="multipart/form-data">
        <label>Name:</label><br>
        <input type="text" name="name" value="{{ student[2] }}"><br><br>
        
        <label>Roll No:</label><br>
        <input type="text" name="rollno" value="{{ student[3] }}"><br><br>
        
        <label>Branch/Course:</label><br>
        <input type="text" name="course" value="{{ student[4] }}"><br><br>
        
        <label>Phone Number:</label><br>
        <input type="text" name="phone" value="{{ student[5] or '' }}"><br><br>
        
        <label>Email ID:</label><br>
        <input type="email" name="email" value="{{ student[6] or '' }}"><br><br>
        
        <label>Change Photo:</label><br>
        {% if student[7] %}
            <img src="/uploads/{{ student[7] }}" width="60" height="60"><br>
        {% endif %}
        <input type="file" name="photo" accept="image/*"><br><br>
        
        <button type="submit">Update Student</button>
        <a href="/">Cancel</a>
    </form>
</body>
</html>